# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/

downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ansible
deployment/ansible/roles/azavea.*
*.retry

# Vagrant
.vagrant

# NodeJS / Webpack stuff
node_modules/
npm-debug.log
bundle.js
vendor.bundle.js
bundle.js.map
**/static/*.html
**/static/img/*.png
**/static/img/*.svg

# MacOS
.DS_Store

# Lambda output
dist/*.zip
